*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgb(177, 5, 5); */
}
.container{
    width: 230px;
    height: 330px;
    margin: 0 auto;
    margin-top: 80px;
    background-image: url(./dog02.png);
    background-repeat: no-repeat;
    display: flex;
}
/* .container img{
    align-items: center;
} */
img:hover{
    opacity: 0;
}
img{
    width: 230px;
    height: 330px;
}